@import url('https://fonts.cdnfonts.com/css/switzer');

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 60px;
    background: rgb(82, 90, 160);
    align-items: center;
    padding: 10px 15px;
    border-radius: 17px;
}

.logo {

}

.menuItems {
    display: flex;
    flex-direction: row;
    gap: 30px;
    > p {
        font-family: switzer, serif;
        color: white;
        font-size: 14px;
    }
}

.containerBtn {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

