@import url('https://fonts.cdnfonts.com/css/switzer');

.whyChoose {
    font-family: switzer, serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
}

.thePoints {
    font-family: switzer, serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #202229;
}


.sliderSection {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    height: 1025px;
}

.intro {
    flex: 1;
}

.sliderWrapper {
    flex: 2;
    overflow: hidden;
    position: relative;
    height: 600px;
    /*width: 300px;*/
}

.slider {
    display: flex;
    flex-direction: row;
    gap: 30px;
    transition: transform 0.5s ease-in-out;
}

.slider:hover {
    animation: slide 30s infinite;
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}

@media only screen
and (device-width: 428px)
and (device-height: 926px)
and (-webkit-device-pixel-ratio: 3)
and (orientation: portrait) {
    .whyChoose {
        font-size: 42px;
        line-height: 54px;
    }

    .thePoints {
        font-size: 18px;
        line-height: 28px;
    }

    .sliderSection {
        height: auto;
    }
}

